<template lang="pug">
  .columns.is-centered
    .column.is-one-quarter
      .card
        .card-header
          .card-header-title FLexisource Coding Test

        .card-content
          .content
            f-form(ref="refLoginForm")
              f-text(space="12" rules="required" label="Username" icon="account"  :value.sync="dtaLoginForm.username")
              f-text(space="12" rules="required" label="Password" icon="lock"     :value.sync="dtaLoginForm.password" type="password")

        footer.card-footer
          a.card-footer-item(@click="authenticate") Login
</template>
<script>
import { defineComponent, ref, useContext } from '@nuxtjs/composition-api'
import useGlobal from '../composition/useGlobal'
import { ToastProgrammatic as Toast } from 'buefy'

export default defineComponent({
  layout: 'empty',
  setup() {
    const { $http } = useContext()
    const { profile_id, token } = useGlobal()
    const dtaLoginForm = ref({})
    const refLoginForm = ref(null)

    const authenticate = async() => {
      if(await refLoginForm.value.$refs.validator.validate()) {
        const response = await $http.$post('/account/authenticate', dtaLoginForm.value)

        if(response == '' || response == null || response == undefined) {
          Toast.open({
            type: 'is-danger',
            message: 'Invalid username and password.!'
          })
        } else {
          token.value = response.token
          profile_id.value = response.profile_id
          $nuxt.$router.push({ path: '/profile' })
        }
      } else {
        Toast.open({
          type: 'is-danger',
          message: 'Username and password are required!'
        })
      }
    }
 
    return {
      authenticate,
      dtaLoginForm,
      refLoginForm
    }
  }
})
</script>