<template lang="pug">
  div
    f-form(ref="refProfileForm" :buttons="buttons")
      .columns
        f-text(space="4" rules="required" label="First Name"        :value.sync="dtaProfileForm.first_name")
        f-text(space="4"                  label="Middle Name"       :value.sync="dtaProfileForm.middle_name")
        f-text(space="4" rules="required" label="Last Name"         :value.sync="dtaProfileForm.last_name")

      .columns
        f-text(space="4" rules="required" label="Delivery Address"  :value.sync="dtaProfileForm.delivery_address")
        f-text(space="4" rules="required" label="Biiling Address"   :value.sync="dtaProfileForm.billing_address")
</template>
<script>
import { defineComponent, ref, onMounted, useContext } from '@nuxtjs/composition-api'
import useGlobal from '../composition/useGlobal'
import { ToastProgrammatic as Toast } from 'buefy'

export default defineComponent({
  setup() {
    const { $http } = useContext()
    const dtaProfileForm = ref({})
    const refProfileForm = ref(null)
    const { profile_id } = useGlobal()

    const buttons = [
      {
        label: 'Save Profile',
        handler: async() => {
          if(await refProfileForm.value.$refs.validator.validate()) {
            const response = await $http.$post('/account', dtaProfileForm.value)
            Toast.open({
              type: 'is-success',
              message: 'Profile saved succesfully!'
            })
          } else {
            Toast.open({
              type: 'is-danger',
              message: 'Please fill out the form completely!'
            })
          }
        }
      }
    ]

    onMounted(async() => {
      const resProfile = await $http.$get('/account/' + profile_id.value)
      dtaProfileForm.value = resProfile
    })
 
    return {
      buttons,
      dtaProfileForm,
      refProfileForm
    }
  }
})
</script>