<template lang="pug">
  div.layout.columns
    b-sidebar.column.pr-0.is-2(position="static" :fullwidth="true" :fullheight="true" v-model="isSidebarOpen" v-show="isSidebarOpen")
      .p-1
        h4.title.p-auto.has-text-centered.p-2 Vue JS
        b-menu.p-4
          b-menu-list(label="Account")
            b-menu-item(icon="account" label="Profile")

    .column.pb-0.current-route
      b-navbar
        template(#brand)
          b-navbar-item(tag="router-link" :to="{ path: '/' }")
            a(@click="isSidebarOpen = !isSidebarOpen")
              b-icon(icon="forwardburger" v-show="!isSidebarOpen")
            a(@click="isSidebarOpen = !isSidebarOpen")
              b-icon(icon="backburger" v-show="isSidebarOpen")
            img.ml-3(src="../assets/images/logo.png" v-show="!isSidebarOpen")
        template(#start)
          nav.breadcrumb.has-succeeds-separator.column
            ul
              li
                a Account
              li
                a Profile
        template(#end)
          b-navbar-item(tag="div")
            .is-block
              a(@click="logout")
                b-icon.ml-3(icon="logout")
      nuxt.page.box.is-flex-grow-1.m-5
</template>
<style lang="scss">
  @import '../assets/styles/custom.scss';
</style>
<script>
import { defineComponent, ref } from '@nuxtjs/composition-api'

export default defineComponent({
  setup() {
    const isSidebarOpen = ref(true)
    const logout = () => {
      $nuxt.$router.push({ path: '/' })
    }

    return {
      logout,
      isSidebarOpen
    }
  }
})
</script>