@import "~bulma/sass/utilities/_all";

$mdi-font-path: '~@mdi/font/fonts/';

@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~@mdi/font/scss/materialdesignicons";

html {
  overflow: hidden !important;
}

body {
  min-height: 100vh;
}

#__layout, .default-layout {
  min-height: 100vh;
}

.layout {
  min-height: inherit;

  .page {
    background-color: white;
    min-height: fit-content;
  }
}

.modal-card {
  width: auto
}

.sidebar-content {
  box-shadow: 1px 0 #f1f2f2 !important;
  background-color: white !important;
  min-height: inherit !important;
  
  a {
    color: #3273dc;
    padding: .5em .75em;
  }
}

.current-route {
  border-bottom: thin solid #f1f2f2;
  height: 100%;
}