<template lang="pug">
  div
    .columns
      .column
        b-button.is-primary.is-pulled-right(v-for="button in buttons" :key="button.id" @click="button.handler") {{ button.label }}
    ValidationObserver(ref="validator")
      slot  
</template>
<script>
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  props: {
    buttons:  Array
  }
})
</script>