<template lang="pug">
  .column(:class="'is-' + space")
    ValidationProvider(v-slot="{ classes, errors }" immediate :rules="rules")
      b-field(:label="label" :type="errors.length ? 'is-danger' : ''")
        b-input(
          v-bind="$attrs" 
          :type="type" 
          :value="value" 
          :icon="icon"
          @input="(value) => $emit('update:value', value)" 
          :class="classes"
        )
</template>
<script>
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  inheritAttrs: false,
  props: {
    icon:   String,
    label:  String,
    rules:  String,
    space:  String,
    type:   String,
    value:  String
  }
})
</script>